@model PasswordWallet.Models.AppViewModel

<h2 class="text-info">
    Login
</h2>
<br />

<div class="border container" style="padding: 30px;">
    <form method="post" asp-action="Signin">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        @if (Model.User.Nickname != null)
        {
            <span class="text-danger">Invalid username or password</span><br />
        }
        <span class="text-danger">@Model.Error</span> <br />
        <span class="text-danger">@Model.Error2</span>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="User.Nickname"></label>
            </div>
            <div class="col-6">
                <input asp-for="User.Nickname" class="form-control" />
                <span asp-validation-for="User.Nickname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="User.Password"></label>
            </div>
            <div class="col-6">
                <input asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <button type="submit" class="btn btn-primary form-control">
                    Log in
                </button>
            </div>
            <div class="col-3">
                <a asp-controller="Home" asp-action="Index" class="btn btn-success form-control">Back to home</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

