@model PasswordWallet.Models.AppViewModel

<br />
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">
            Edit password
        </h2>
    </div>
    <div class="border container" style="padding: 30px;">
        <form method="post" asp-action="Edit">
            <div class="form-group row">
                <input type="hidden" asp-for="Passwd.Id" />
                <div class="col-3">
                    <label asp-for="Passwd.Login"></label>
                </div>
                <div class="col-6">
                    <input asp-for="Passwd.Login" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Passwd.Password"></label>
                </div>
                <div class="col-6">
                    <input asp-for="Passwd.Password" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Passwd.WebAddress"></label>
                </div>
                <div class="col-6">
                    <input asp-for="Passwd.WebAddress" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3 offset-3">
                    <button type="submit" class="btn btn-primary form-control">
                        Change password
                    </button>
                </div>
                <div class="col-3">
                    <a asp-action="Index" class="btn btn-success form-control">Back to list</a>
                </div>
            </div>
        </form>
    </div>
</div>
